body{

margin:0;

font-family:Arial;

}


header{

background:black;

color:white;

padding:15px;

display:flex;

justify-content:space-between;

}


nav a{

color:white;

margin:10px;

text-decoration:none;

}


.hero{

height:90vh;

background-image:url("../images/department.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

}


.overlay{

background:rgba(0,0,0,0.6);

color:white;

padding:40px;

text-align:center;

}


.stats{

display:flex;

justify-content:center;

gap:30px;

padding:40px;

}


.card{

background:white;

padding:30px;

box-shadow:0px 5px 15px gray;

}
.card{

transition:0.3s;

}

.card:hover{

transform:scale(1.1);

}
